$primary-color: hsl(125, 39%, 62%);
$brand-primary: $primary-color;
$lightgrey: #F8F9FA;
$component-active-bg: lighten($brand-primary, 20%);
$font-family-base: 'robotoregular';
$dark-green: #10733C;
$light-green: #6BBE45;
$dark-gray: #9B9B9B;
$light-gray: #F8F9FA;
$black-form: #232321;
$medium-gray: #cfd0d1;
$red-error: #f33824; // Screen sizes (grid)
$fontColor: #636363;
$mobile-360: 22.5em;
$mobile: 30em;
$tablet: 44em;
$desk: 70em;
$max-width: 75em;
$large-width: 82em;
$monster: 118.750em;
$navBarHeight: 75px;
$nav-link-hover-bg: $light-gray;
$input-bg: transparent;
$input-border: transparent;
$input-border-radius: 0;
$input-border-focus: transparent;
$input-color: black;
$input-border-radius-large: 0;
$input-border-radius-small: 0;
$input-border-focus: transparent;
$input-color-placeholder: #ccc;
$dropdown-border: rgba(0,0,0,.10) !default;
